/* animations.css */
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 100ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 100ms;
}

.scroll-indicator {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.scroll-indicator.hidden {
  opacity: 0;
}
